body {
    display: flex;
}

#img-holder {
    height: 100vh;
    width: 35vw;
}

#form-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border: black solid 2px;
    height: 20vh;
    justify-content: center;
    padding-left: 30px;
}


label {
    display: block;
}